[
    {
        "base_domain": "https://www.citizensadvice.org.uk/advisernet",
        "domain_description": "AdvisorNet",
        "scrape_method": "brute",
        "scrape_args": {
            "authentication_cookie": ".CitizensAdviceLogin=XXXXX",
            "content_div_ids": ["main-content", "cads-main-content"],
            "content_div_classes": ["main-content", "cads-main-content"],
            "scrape_depth": 1,
            "batch_size": 1000
        }
    },
    {
        "base_domain": "https://www.citizensadvice.org.uk/",
        "domain_description": "Citizens Advice",
        "scrape_method": "sitemap",
        "scrape_args": {
            "sitemap_url": "https://www.citizensadvice.org.uk/sitemap.xml",
            "scrape_depth": 1,
            "content_div_ids": ["main-content", "cads-main-content"],
            "content_div_classes": ["main-content", "cads-main-content"],
            "batch_size": 1000
        }
    },
    {
        "base_domain": "https://www.gov.uk/",
        "domain_description": "GOV.UK",
        "scrape_method": "govuk"
    }
]
